apiVersion: apps/v1
kind: Deployment
metadata:
    name: backend-deploy
    labels:
      name: backend-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      name: backend-pod
  template:
    metadata:
      name: backend-pod
      labels:
        name: backend-pod
    spec:
      containers:
        - name: my-con
          image: 314146339352.dkr.ecr.ap-south-1.amazonaws.com/backend:latest
          ports:
            - containerPort: 9000

    
